<div class="container custom-cc">
    <div class="login-container">
        <form action="" [formGroup]="addForm">
            <!-- Username -->
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Username or Email</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
            </div>

            <!-- Password -->
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>
            </div>

            <!-- Button -->
            <div class="d-flex justify-content-center">
                <button (click)="logIn()" mat-button>Log In</button>
            </div>
        </form>
    </div>
</div>